<h1>Hello</h1>
<h2>User Orders</h2>
<ul>
  <%if current_user.present? %>
    <% @orders.each do |order| %>
      <h3> Quantity: <%= order.quantity %> - Status: <%= order.status %></h3>
    <% end %>
    <%else%>
    <% @products.each do |product| %>
      <h3> title: <%= product.title %> - Price: <%= product.status %></h3>
    <%end%>
  <%end%>
</ul>


  <%= link_to "vendor's new project", new_vendor_path %><br><br>
  <%= link_to "All Product list", vendors_path %>
