<!-- app/views/vendors/new.html.erb -->
<h1>Create a New Product</h1>

<%= form_for [@vendor, @product] do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit 'Create Product' %>
  </div>
<% end %>

<%= link_to 'Back to Products', vendors_path %>
<%= button_to(
        'Log Out',
        destroy_user_session_path,
        method: :delete
      ) %>
